<div *ngIf="contact">

  <h4>{{contact.VORNAME}} Details</h4>
  
  
  <div class="info"  *ngIf="contact.ANREDE" >
    <b>ANREDE</b> : {{contact.ANREDE}}
  </div>
  
  
  <div class="info"  *ngIf="contact.ANREDE_BRIEF">
    <b>ANREDE_BRIEF</b> : {{contact.ANREDE_BRIEF}}
  </div>
  
  
  <div class="info"  *ngIf="contact.APNR">
    <b>APNR</b> : {{contact.APNR}}
  </div>
  <div class="info"  *ngIf="contact.BDATUM" >
    <b>BDATUM</b> : {{contact.BDATUM}}
  </div>
  
  
  <div class="info"  *ngIf="contact.BEARBEITER">
    <b>BEARBEITER</b> : {{contact.BEARBEITER}}
  </div>
  
  
  <div class="info"  *ngIf="contact.GEB">
    <b>GEB</b> : {{contact.GEB}}
  </div>
  <div class="info"  *ngIf="contact.POSITION" >
    <b>POSITION </b> : {{contact.POSITION}}
  </div>
  
  
  <div class="info"  *ngIf="contact.EDATUM">
    <b>EDATUM</b> : {{contact.EDATUM}}
  </div>
 
  <div class="info"  *ngIf="contact.ROWID">
    <b>ROWID</b> : {{contact.ROWID}}
  </div>
  <div class="info"  *ngIf="contact.TELEFON">
    <b>TELEFON</b> : {{contact.TELEFON}}
  </div>
  <div class="info"  *ngIf="contact.TELEFON_M">
    <b>TELEFON_M</b> : {{contact.TELEFON_M}}
  </div>
  
</div>